<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.notes">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icons8_google_keep"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name="com.example.notes.Splash.SplashActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.notes.login.LoginActivity">
        </activity>
        <activity android:name="com.example.notes.SignUp.SignUpActivity"/>
        <activity android:name="com.example.notes.ui.MainActivity" />
        <activity android:name="com.example.notes.note.BaseActivity"/>
        <activity android:name=".navigation.NavDraweractivity"/>

    </application>

</manifest>